<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Test Blog Entry</title>
<link href="/min/g=css?r698" rel="stylesheet" type="text/css">
</head>
<body>
<div id="columnA">
<h1 class="title">Test Blog Entry Title</h1>
<div class="author user-card">
<a href="/user/blogauthor"><img class="avatar" src="//lain.bgm.tv/pic/user/l/000/00/01/10001.jpg" width="32"></a>
<div class="title"><p><a href="/user/blogauthor">BlogAuthor</a></p></div>
</div>
<div class="time">2023-3-7 00:34</div>
<div class="blog_entry clearit" id="entry_content">This is the blog entry content. It can contain <b>HTML</b> markup.</div>
<div class="tags"><a href="/blog/tag/test">test</a></div>
<div id="comment_list">
<div class="row_reply" id="post_{postId1}">
<div class="re_info"><div class="action"><small><a class="floor-anchor" href="#post_{postId1}">#1</a> - 2023-3-7 00:35</small></div></div>
<a class="avatar" href="/user/commenter1"><span class="avatarNeue avatarReSize40 ll" style="background-image:url('//lain.bgm.tv/pic/user/l/000/00/02/20002.jpg')"></span></a>
<div class="inner"><strong><a class="l" href="/user/commenter1">Commenter1</a></strong> <span class="tip_j">(commenter sign)</span>
<div class="reply_content"><div class="message">This is a blog comment.</div></div>
</div>
</div>
</div>
</div>
</body>
</html>
