<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Test Episode</title>
<link href="/min/g=css?r416" rel="stylesheet" type="text/css">
</head>
<body>
<div id="headerSubject">
<h1><a href="/subject/99999">Test Anime Series</a></h1>
</div>
<div id="columnEpA">
<h2>ep.1 Test Episode Title <small><a href="/ep/{topicId}">EP Link</a></small></h2>
<div class="epDesc">
<span class="tip">首播:2023-03-07</span>
<p>This is the episode description.</p>
</div>
</div>
<div id="comment_list">
<div class="row_reply" id="post_{postId1}" data-item-user="epcommenter1" name="floor-1">
<a class="avatar" href="/user/epcommenter1"><span class="avatarNeue avatarReSize40 ll" style="background-image:url('//lain.bgm.tv/pic/user/l/000/00/02/20002.jpg')"></span></a>
<div class="inner"><strong><a class="l" href="/user/epcommenter1">EpCommenter1</a></strong> <span class="tip_j">(ep sign)</span>
<div class="reply_content"><div class="message">This is an episode comment.</div></div>
</div>
<div class="post_actions re_info"><div class="action">#1 - 2023-3-7 00:35</div></div>
</div>
</div>
</body>
</html>
