<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Test Subject Topic</title>
<link href="/min/g=css?r412" rel="stylesheet" type="text/css">
</head>
<body>
<div id="column_container">
<div class="mainWrapper">
<div class="columns">
<div>
<div id="pageHeader">
<h1><span><a class="avatar" href="/subject/99999">Test Anime Title</a> » 讨论</span><br>
Test Subject Topic Title</h1>
</div>
<div id="post_list">
<div class="postTopic" id="post_{postId1}">
<a class="avatar" href="/user/testuser1"><span class="avatarNeue avatarSize48 ll" style="background-image:url('//lain.bgm.tv/pic/user/l/000/00/01/10001.jpg')"></span></a>
<div class="inner"><strong><a class="l" href="/user/testuser1">TestUser1</a></strong> <span class="tip_j">(test sign)</span>
<div class="re_info"><small>#1 - 2023-3-7 00:34</small></div>
<div class="topic_content">This is the top post content for subject topic.</div>
</div>
</div>
</div>
<div id="comment_list">
<div class="row_reply" id="post_{postId2}">
<a class="avatar" href="/user/testuser2"><span class="avatarNeue avatarReSize40 ll" style="background-image:url('//lain.bgm.tv/pic/user/l/000/00/02/20002.jpg')"></span></a>
<div class="inner"><span class="userInfo"><strong><a class="l" href="/user/testuser2">TestUser2</a></strong> <span class="tip_j">(reply sign)</span></span>
<div class="re_info"><div class="action"><small><a class="floor-anchor" href="#post_{postId2}">#2</a> - 2023-3-7 00:35</small></div></div>
<div class="reply_content"><div class="message">This is a reply to the subject topic.</div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
